.nav {
    background-color: gainsboro;
    overflow: hidden;
    padding: 20px;
    padding-left: 10px;
    padding-top: 0px;
    border-radius: 5px;
}

.nav h3 {
    text-align: justify;
    letter-spacing: 1px;
    color: rgb(80, 80, 80);
    font-family: Arial;
    font-size: 1.2em;
}

.nav a{
    background-color: rgb(80, 80, 80);
    letter-spacing: 1px;
    color: lightblue;
    font-family: Arial;
    font-size: 1em;
    padding: 10px;
    border: 5px;
    border-radius: 5px;
}

body {
    background-color: rgb(80, 80, 80);
}

h1 {
    text-align: left;
    text-transform: uppercase;
    color: lightblue;
    font-family: Helvetica, Arial;
    font-weight: lighter;
    font-size: 3vw;
}

p {
    text-align: justify;
    letter-spacing: 1px;
    color: aliceblue;
    font-family: Arial;
    font-size: 1em;
}