div {
    border: 1px white;
    padding: 10px
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: lightblue;
    font-family: Helvetica, Arial;
    font-weight: lighter;
    font-size: 5vw;
}

h3 {
    text-transform: uppercase;
    color: lightblue;
    font-family: Helvetica, Arial;
    font-size: 1.2em;
}

p {
    text-align: justify;
    letter-spacing: 1px;
    color: aliceblue;
    font-family: Arial;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: lightskyblue;
    font-family: Arial;
    font-size: 1em;
}

body {
    background-color: rgb(80, 80, 80);
}